---
import { SOCIAL_PROFILE } from "@/constants/social";
import Icon from "@/components/Icon/Icon.astro";
import Link from "@/components/Link.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    "flex gap-4 text-black dark:text-white",
    { [`${className}`]: className },
  ]}
>
  <Link href={SOCIAL_PROFILE.GITHUB} isExternal ariaLabel="Github">
    <Icon
      name="github"
      size={22}
      className="transform hover:rotate-[15deg] transition duration-300 hover:text-red-500"
    />
  </Link>

  <Link href={SOCIAL_PROFILE.LINKEDIN} isExternal ariaLabel="LinkedIn">
    <Icon
      name="linkedin"
      size={22}
      className="transform hover:rotate-[15deg] transition duration-300 hover:text-red-500"
    />
  </Link>
</div>
